<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>MalPDFDetection</title>-->
<!--    <script src="https://kit.fontawesome.com/2abc095ccc.js" crossorigin="anonymous"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">-->
<!--    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">-->
<!--    <script src="{{ url_for('static', filename='main.js') }}" defer></script>-->
<!--</head>-->

<!--<main class="page-container">-->
<!--    <div class="flex-container">-->
<!--        <input type="file"-->
<!--               id="pdf" name="pdf"-->
<!--               accept="image/png, image/jpeg, .doc, .docx, .pdf">-->
<!--    </div>-->


<!--</main>-->

<!--<script>-->

<!--</script>-->

<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>MalPDFDetection</title>
</head>

<body>
<div style="text-align: center;"><h1>Malicious-PDF Detection</h1></div>
<hr width="100%" color="black"/>

<div style="text-align: center;">
    <form>
        <a href="./upload">파일 업로드</a><br><br><br>
        <a href="./list">파일 목록</a><br><br><br>
    </form>
</div>
</body>
</html>
